# Ignore all
/*
/.**

# Don't ignroe

!/README.md
!/.gitignore
!/.zshrc
!/.zshenv
!/.ideavimrc

!/vim

!/.config/
/.config/**
!/.config/powerline-shell/
!/.config/powerline-shell/**
!/.config/karabiner/
!/.config/karabiner/**

# Ignore

__pycache__
*.pyc
