# Ignore all
# /*
# /.**
*
!*/

# White list

!/README.md
!/.gitignore
!/.zshrc
!/.zshenv
!/.ideavimrc

!/.vimrc

/.vim/**
!/.vim/plugins.vim
!/.vim/coc-settings.json
!/.vim/config/
!/.vim/config/**
!/.vim/plugin-config/
!/.vim/plugin-config/**

!/.config/
/.config/**
!/.config/powerline-shell/
!/.config/powerline-shell/**
!/.config/karabiner/
!/.config/karabiner/**
/.config/karabiner/karabiner.json
/.config/karabiner/automatic_backups/
/.config/nvim/
/.config/nvim/**

# Ignore

__pycache__
*.pyc
.DS_Store
